[submodule "java"]
	path = java
	url = https://github.com/geektimus/java-challenges
[submodule "scala"]
	path = scala
	url = https://github.com/geektimus/scala-challenges
[submodule "go"]
	path = go
	url = https://github.com/geektimus/go-challenges
